:root {
  --background-purple: #32222B;
  --text-green: #E1EAE5
}

body {
  font-family: 'Open Sans', sans-serif;
  background: var(--background-purple);
  color: var(--text-green);
}

header {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  margin-top: 5%;
}

footer {
  word-spacing: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  margin-bottom: 5%;
}

main {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 80%;
  max-width: 960px;
}

img.profile {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

a {
  font-size: 3vw;
  color: var(--text-green);
  text-decoration: none;
}

a:hover { border-bottom: 0.1rem solid var(--text-green); }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li:not(:last-child) { 
  margin-bottom: 10px;  
}
